<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Admin Site</title>
    <link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
</head>
<body>
    <section class="wrap-menu-article">
   
        <div class="wrap-article">
            <p>Hello <span sec:authentication="principal.user.fullName"></span></p>
            <p>You are <span sec:authentication="principal.user.role"></span></p>
            <a class="btn btn-style bgPink" href="#" th:href="@{/logout}">logout</a>
        </div> <!-- /wrap-article -->

    </section>
    
</body>
<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function() {

    });
</script>
</html>