<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Admin Site</title>
    
</head>
<body>
    <section class="wrap-menu-article">
   
        <div class="wrap-article">
            Hello
        </div> <!-- /wrap-article -->
    </section>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>

<script type="text/javascript">
    $(document).ready(function() {

    });
</script>
</html>